@import './variables/variables.color.css';
@import './variables/variables.effects.css';
@import './variables/variables.zIndex.css';
@import './animations/hover.animations.css';

*,*::after,*::before{
	box-sizing: inherit;
	scroll-behavior: inherit;
	user-select: inherit;
}

html{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: var(--main-ligth-color)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


img{
	display: block;
	width: 100%;
	height: auto;
}

