.container{
	display: flex;
	flex-wrap: wrap;
	max-width: 72px;
}

.item{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .25em;
	font-size: 1.5rem;
	color: var(--ligth-02-color);
	cursor: pointer;
}

.item:hover, .item.active{
	color: var(--ligth-hover-color);
	background-color: var(--black-md-color);
}