:root {
  --main-dark-color: #2a2a2a;
  --main-md-color: #3b3b3b;
	--main-ligth-color: #424242;
  --shadow-color-05: rgba(10, 10, 10, 0.75);
	--black-md-color: #201e1e;
	--green-color: #ccc;
	--hover-brigth-color: #fff;
}